*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 50px;
}

header h1{
font-size: 30px;
}

main{
    background: #94caf1;
    min-height: 90vh;
}



main .box{
    min-height: 150px;
    background: white;
    margin-top: 8%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 6px 6px 4px -3px rgba(60,60,60,0.52); 
    box-shadow: 6px 6px 4px -3px rgba(60,60,60,0.52);
}

.box .title{
    height: 40%;
}

.box .title h2{
    font-weight: 800;
}
.box .values{
    height: 60%;
}

main .values h3{
    font-size: 15px;
}